.contacts
  margin-bottom: 40px
  @media (min-width: 768px)
    display: grid
    grid-template-areas: "a c" "b c"
    justify-content: space-between
  @media (min-width: 1200px)
    margin-bottom: 120px

.contacts-item
  margin-bottom: 35px
  &:first-child
    grid-area: a
  &:nth-last-child(2)
    margin-bottom: 50px
    grid-area: b
  &:last-child
    grid-area: c
  &:not(:first-child)
    @media (min-width: 768px)
      margin-bottom: 0    
  &__
    &name
      display: block
      @include font(400, 18px, 21px, var(--theme-secondary-main))
      margin-bottom: 5px
      @media (min-width: 1200px)
        font-size: 24px
        line-height: 28px
    &info
      display: block
      @include font(500, 18px, 21px, var(--theme-accent-main))

.form-subs
  margin: 15px 0
  position: relative

.subs
  width: 100%
  height: 51px
  @media (min-width: 768px)
    width: 439px
  &__item
    width: 100%
    height: 100%
    padding-left: 7px
    @include font(400, 13px, 15px, var(--theme-primary-main))
    &.error
      color: var(--theme-accent-err)
    @media (min-width: 768px)
      font-size: 18px
      line-height: 21px
  div.error
    color: var(--theme-accent-main)
    font-size: 12px

.subs-btn
  position: absolute
  right: 0
  bottom: 0

.social
  display: flex
  &__
    &link
      display: flex
      justify-content: center
      align-items: center
      width: 43px
      height: 43px
      background-color: var(--theme-accent-main)
      transition: 0.5s
      &:not(:last-child)
        margin-right: 15px
      &:hover
        @media (min-width: 1200px)
          box-shadow: 1px 1px 3px 1px var(--theme-accent-main)
          background: none
          transition: 0.5s
        .social__img
          @media (min-width: 1200px)
            transition: 0.5s
            fill: var(--theme-accent-main)
    &img
      fill: var(--theme-primary-main)
      transition: 0.5s

.page-btn__item--small
  padding-left: 20px
  padding-right: 20px