.footer
  background-color: var(--theme-accent-main)
  &__
    &element
      text-align: center
      margin-bottom: 15px
      display: flex
      flex-wrap: wrap
      justify-content: center
      @media (min-width: 992px)
        margin-bottom: 0
    &link
      display: block
      @include font (500, 14px, 16px, var(--theme-primary-main))
      transition: 0.5s
      &:hover
        @media (min-width: 1200px)
          border-bottom: 1px solid var(--theme-primary-main)
          opacity: 0.7
          transition: 0.5s
    &item
      margin: 0 5px
      color: var(--theme-primary-main)
    &text
      text-align: center
      @include font (500, 14px, 16px, var(--theme-secondary-main))

.footer-wrap
  padding: 15px 39px 20px 39px
  @media (min-width: 992px)
    padding-left: 20px
    padding-right: 45px
    display: flex
    flex-direction: row-reverse
    justify-content: space-between    