.header
  position: relative
  display: flex
  justify-content: center
  overflow: hidden
  margin-bottom: 48px
  height: 752px
  &__
    &top
      width: 100%
      position: fixed
      z-index: 100
      background-color: var(--theme-primary-light)
    &content
      top: 231px
      position: absolute
      left: 0
      width: 100%
      text-align: center
      z-index: 20
    &title
      padding: 0 26px
    &text
      margin-top: 10px
      @include text
    &btn-play
      margin-top: 50px
      background: none
      display: none
      &.is-active
        display: inline-block

.top
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  padding: 24px 10px

.logo
  margin-right: 39px
  &__
    &item
      display: block
      &.current
        pointer-events: none
        
.nav
  position: absolute
  width: 60%
  height: 100vh
  left: -100%
  top: 75px
  transition: 0.8s
  text-align: center
  background-color: var(--theme-primary-dark)
  &.is-active
    left: 0
    transition: 0.8s

.nav-list
  &__
    &item
      margin-top: 30px
    &link
      @include nav
      &.current
        pointer-events: none;
        opacity: 0.6

.button
  position: absolute
  left: -100%
  top: 418px
  width: 60%
  padding: 30px 0
  text-align: center
  transition: 0.8s
  &__link
    @include nav
  &.is-active
    left: 0
    transition: 0.8s

.burger
  width: 25px
  height: 18px
  position: relative
  &__line
    display: block
    width: 17px
    margin-left: 8px
    margin-top: 5px
    height: 12px
    border-top: 2px solid var(--theme-secondary-main)
    border-bottom: 2px solid var(--theme-secondary-main)
    transition: 0.5s
  &:before, &:after
      width: 100%
      height: 2px
      background-color: var(--theme-secondary-main)
      content: ''
      position: absolute
      transition: 0.5s
  &:after
      top: 10px
  &.is-active
    transition: 0.5s
    .burger__line
      transform: scale(0)
    &:before
      background-color: var(--theme-accent-main)
      transform: translateY(8px) rotateZ(45deg)
    &:after
      background-color: var(--theme-accent-main)
      transform: translateY(-8px) rotateZ(-45deg)
      top: 15px

.title
  @include title
  &--big
    @include title-big

.video
  width: 100%
  position: relative
  padding-bottom: 56%
  display: none
  &.is-active
    display: block
  &__
    &wrap
      position: absolute
      left: 0
      top: 0
      width: 100%
      height: 100%
    &media
      z-index: 15
      min-width: 100%
      min-height: 100%
      border-width: 0;
      outline-width: 0;
.picture
  position: absolute
  top: 0
  left: 0
  width: 100%
  height: 100%
  display: none
  &.is-active
    display: block
  &__
    &item
      justify-content: center
      height: 100%
      display: flex  
    &img
      object-fit: cover
      width: 100%


@media (min-width: 992px)
  .button
    position: static
    padding: 0
    width: unset
    &__link
      font-weight: 500
      padding: 5px 17px
      color: var(--theme-secondary-main)
      border: 1px solid var(--theme-accent-main)
      transition: 0.5s

@media (min-width: 1200px)
  .header
    &__
      &content
        top: 253px
      &play
        transition: 0.5s
        &:hover
          transform: scale(1.1)
          filter: drop-shadow(3px 3px 4px var(--theme-primary-main));

  .top
    padding: 27px 0
  .logo__img
    width: 146px
  .burger
    display: none
  .nav
    position: static
    background: none
    height: unset
    width: unset
  .nav-list
    display: flex
    &__
      &item
        margin-top: 0
        &:not(:last-child)
          margin-right: 39px
      &link
        transition: 0.5s
        &:after
          display: block
          content: ''
          border-bottom: solid 2px var(--theme-accent-main)
          transform: scaleX(0)
          transition: transform 0.5s
        &:not(.current):hover
          color: var(--theme-accent-main)
          &:after
            transform: scaleX(1)

  .button__link
    position: relative
    &:before
      background: var(--theme-accent-main)
      content: ""
      position: absolute
      width: 0
      height: 0
      top: 50%
      left: 50%
      transform: translate(-50%,-50%)
      z-index: -1
      transition: 0.5s
    &:hover::before
      width: 100%
      height: 100%
      opacity: 0.8


