
.lineup
  margin-bottom: 95px
  @media (min-width: 411px)
    padding: 0 55px
  @media (min-width: 1200px)
    padding: 0
    margin: 0 -13px 120px -13px
  &__
    &head
      display: flex
      margin-bottom: 30px
      justify-content: center
      align-items: center
      position: relative
    &arrows
      display: flex
      position: absolute
      right: 0
      bottom: -426px

      @media (min-width: 586px)
        bottom: unset
      @media (min-width: 1200px)
        right: 13px
      
      .control
        display: flex
        justify-content: center
        align-items: center
        width: 25px
        height: 25px
        background-color: var(--theme-secondary-light)
        transition: 0.5s
        @media (min-width: 768px)
          width: 35px
        &:hover
          @media (min-width: 1200px)
            box-shadow: 2px 2px 3px 0 var(--theme-accent-main)
            transform: scale(1.1)
            transition: 0.5s
        &:first-child
          margin-right: 10px
        &__img
          display: block
          @media (min-width: 768px)
            width: 16px
            height: 18px
        

.slider-lineup
  &__
    &item
      text-align: center
      position: relative
      height: 100%
      padding: 0 2px
      @media (min-width: 1200px)
        padding: 0 13px
    &name
      position: absolute
      padding: 15px 0
      bottom: -1px
      display: block
      width: 100%
      height: 62px
      background-color: var(--theme-primary-light)
    &img
      display: block
      width: 100%
      height: 100%
      object-fit: cover
  .slick-slide
    width: 272px
    height: 344px
    div
      height: 100%

.title--small
  @include title-small