body {
  font-family: Poppins;
  background-color: var(--theme-primary-main);
}

:root {
  --theme-primary-main: #121212;
  --theme-primary-light: rgba(18, 18, 18, 0.8);
  --theme-primary-dark: rgba(18, 18, 18, 0.9);
  --theme-secondary-main: #FFFFFF;
  --theme-secondary-light: rgba(255, 255, 255, 0.05);
  --theme-accent-main: #FEBA08;
  --theme-accent-err: rgb(255, 0, 0);
  --mq-size-xs: 411px;
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
}

@mixin nav {
  font-size: 18px;
  line-height: 27px;
  color: var(--theme-accent-main);
  @media (min-width: 1200px) {
  color: var(--theme-secondary-main);
  }
}

@mixin title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--theme-accent-main);
  @media (min-width: 1200px) {
    font-size: 36px;
    line-height: 48px;
  }
}
@mixin title-big {
  font-size: 36px;
  line-height: 48px;
  color: var(--theme-secondary-main);
  @media (min-width: 1200px) {
    font-size: 48px;
    line-height: 64px;    
  }  
}
@mixin title-small {
  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 32px;
  }
}
@mixin text {
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  color: var(--theme-secondary-main);
  @media (min-width: 1200px) {
    font-size: 24px;
    line-height: 32px;
  }
}
@mixin time {
  font-size: 72px;
  line-height: 96px;
  font-weight: 700;
  color: var(--theme-secondary-main);
}

$family: 'Roboto';

@mixin font($weight, $size, $height, $color) {
  font-weight: $weight;
  font-size: $size;
  line-height: $height;
  font-family: $family;
  color: $color;
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 411px) {
  .container {
    --container-width: var(--mq-size-xs);
  }
}
@media (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}
@media (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
}
@media (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
}
@media (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
}