.request
  margin-bottom: 40px
  @media (min-width: 1200px)
    margin-bottom: 79px
  &__
    &desc
      margin: 10px auto 27px auto
      @include font(500, 13px, 15px, var(--theme-secondary-main))
      width: 215px
      text-align: center
      @media (min-width: 1200px)
        margin: 44px 0 62px 0
        font-size: 24px
        line-height: 28px
        width: unset
        text-align: left

.form
  position: relative
  @media (min-width: 768px)
    display: flex
    justify-content: space-between
  &__btn
    position: absolute
    right: 0
    bottom: 0
    @media (min-width: 768px)
      bottom: 41px
  
.form-request
  margin-bottom: 10px
  height: 51px
  @media (min-width: 768px)
    margin-bottom: 41px
  div.error
    color: var(--theme-accent-main)
    font-size: 12px
    transform: translate(5px, -15px)
    @media (min-width: 768px)
      transform: none
  &--big
    height: 235px
  &__item
    width: 100%
    height: 100%
    padding-left: 7px
    @include font(400, 13px, 15px, var(--theme-primary-main))
    @media (min-width: 768px)
      width: 348px
      font-size: 18px
      line-height: 21px
    @media (min-width: 992px)
      width: 450px
    @media (min-width: 1200px)
      width: 546px
    &--big
      padding-top: 15px
    &.error
      color: var(--theme-accent-err)

.page-btn__item--form
  padding-left: 35px
  padding-right: 35px