
.scroll 
  display: none
  &__img
    fill: var(--theme-primary-main)
    transition: 0.5s
  &.shown
    display: block
    width: 44px
    height: 44px
    border-radius: 50%
    background-color: var(--theme-accent-main)
    border: 2px solid var(--theme-accent-main)
    box-shadow: 0 0 3px 1px var(--theme-primary-main)
    padding: 6px
    opacity: 0.8
    position: fixed
    right: 3%
    bottom: 2%
    cursor: pointer
    z-index: 100
    transition: 0.5s
    &:hover
      @media (min-width: 1200px)
        background-color: var(--theme-primary-main)
        opacity: 1
      .scroll__img
        @media (min-width: 1200px)
          fill: var(--theme-accent-main)