.sponsors
  margin-bottom: 40px
  @media (min-width: 411px)
    padding: 0 12px    
  @media (min-width: 1200px)
    padding: 0
    margin-bottom: 120px
  &__title
    margin-bottom: 25px
    @media (min-width: 411px)
      margin-bottom: 30px
  
.slider-sponsors
  &__
    &item
      width: 100%
      height: 100%
      background-color: var(--theme-secondary-main)
      margin: 0 2px
    &img
      width: 112px
      display: block
      margin: 20px auto;
      @media (min-width: 411px)
        width: unset
        margin-top: 22px
  .slick-track
    .slick-slide
      div
        height: 65px
        padding: 0 2px
        @media (min-width: 411px)
          padding: 0
          width: 168px
          height: 76px
        @media (min-width: 1200px)
          width: 177px
          height: 79px
  .slick-dots
    display: flex
    justify-content: center
    margin-top: 20px
    li
      list-style: none
      button
        transition: 0.5s
        font-size: 0
        width: 11px
        height: 11px
        border-radius: 50%
        background-color: var(--theme-secondary-main)
      &:not(.slick-active)
        button:hover
          @media (min-width: 1200px)            
            box-shadow: 0 0 3px 3px var(--theme-accent-main)
      &:not(:last-child)
        button
          margin-right: 15px
      &.slick-active
        button
          background-color: var(--theme-accent-main)