.timer
  margin-bottom: 40px
  text-align: center

.countdown
  display: grid
  width: 305px
  text-align: center
  grid-template-columns: repeat(2, 1fr)
  gap: 40px
  margin: 40px auto
  &__
    &time
      @include time
    &text
      display: block
      @include font(500, 18px, 21px, var(--theme-secondary-main))

.page-btn
  &__item
    padding: 15px 25px
    display: inline-block
    @include font(500, 18px, 21px, var(--theme-primary-main))
    background-color: var(--theme-accent-main)
    transition: 0.5s
    &:hover
      @media (min-width: 1200px)
        border: 0px solid var(--theme-accent-main)
        box-shadow: 0 0 5px 2px inset var(--theme-accent-main)
        background: var(--theme-primary-main)
        color: var(--theme-accent-main)
        transition: 0.5s

@media (min-width: 768px)
  .countdown
    width: 653px
    grid-template-columns: repeat(4, 1fr)

@media (min-width: 1200px)
  .timer
    margin-bottom: 120px
  .countdown
    margin-bottom: 50px