* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

body {
  font-family: Poppins;
  background-color: var(--theme-primary-main);
}

:root {
  --theme-primary-main: #121212;
  --theme-primary-light: rgba(18, 18, 18, 0.8);
  --theme-primary-dark: rgba(18, 18, 18, 0.9);
  --theme-secondary-main: #FFFFFF;
  --theme-secondary-light: rgba(255, 255, 255, 0.05);
  --theme-accent-main: #FEBA08;
  --theme-accent-err: rgb(255, 0, 0);
  --mq-size-xs: 411px;
  --mq-size-sm: 576px;
  --mq-size-md: 768px;
  --mq-size-lg: 992px;
  --mq-size-xl: 1200px;
}

.container {
  --container-width: 100%;
  width: var(--container-width);
  margin: 0 auto;
  padding: 0 15px;
}

@media (min-width: 411px) {
  .container {
    --container-width: var(--mq-size-xs);
  }
}

@media (min-width: 576px) {
  .container {
    --container-width: var(--mq-size-sm);
  }
}

@media (min-width: 768px) {
  .container {
    --container-width: var(--mq-size-md);
  }
}

@media (min-width: 992px) {
  .container {
    --container-width: var(--mq-size-lg);
  }
}

@media (min-width: 1200px) {
  .container {
    --container-width: var(--mq-size-xl);
  }
}

.header {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  margin-bottom: 48px;
  height: 752px;
}

.header__top {
  width: 100%;
  position: fixed;
  z-index: 100;
  background-color: var(--theme-primary-light);
}

.header__content {
  top: 231px;
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
  z-index: 20;
}

.header__title {
  padding: 0 26px;
}

.header__text {
  margin-top: 10px;
  font-size: 14px;
  line-height: 19px;
  font-weight: 500;
  text-align: center;
  color: var(--theme-secondary-main);
}

@media (min-width: 1200px) {
  .header__text {
    font-size: 24px;
    line-height: 32px;
  }
}

.header__btn-play {
  margin-top: 50px;
  background: none;
  display: none;
}

.header__btn-play.is-active {
  display: inline-block;
}

.top {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 24px 10px;
}

.logo {
  margin-right: 39px;
}

.logo__item {
  display: block;
}

.logo__item.current {
  pointer-events: none;
}

.nav {
  position: absolute;
  width: 60%;
  height: 100vh;
  left: -100%;
  top: 75px;
  transition: 0.8s;
  text-align: center;
  background-color: var(--theme-primary-dark);
}

.nav.is-active {
  left: 0;
  transition: 0.8s;
}

.nav-list__item {
  margin-top: 30px;
}

.nav-list__link {
  font-size: 18px;
  line-height: 27px;
  color: var(--theme-accent-main);
}

@media (min-width: 1200px) {
  .nav-list__link {
    color: var(--theme-secondary-main);
  }
}

.nav-list__link.current {
  pointer-events: none;
  opacity: 0.6;
}

.button {
  position: absolute;
  left: -100%;
  top: 418px;
  width: 60%;
  padding: 30px 0;
  text-align: center;
  transition: 0.8s;
}

.button__link {
  font-size: 18px;
  line-height: 27px;
  color: var(--theme-accent-main);
}

@media (min-width: 1200px) {
  .button__link {
    color: var(--theme-secondary-main);
  }
}

.button.is-active {
  left: 0;
  transition: 0.8s;
}

.burger {
  width: 25px;
  height: 18px;
  position: relative;
}

.burger__line {
  display: block;
  width: 17px;
  margin-left: 8px;
  margin-top: 5px;
  height: 12px;
  border-top: 2px solid var(--theme-secondary-main);
  border-bottom: 2px solid var(--theme-secondary-main);
  transition: 0.5s;
}

.burger:before, .burger:after {
  width: 100%;
  height: 2px;
  background-color: var(--theme-secondary-main);
  content: '';
  position: absolute;
  transition: 0.5s;
}

.burger:after {
  top: 10px;
}

.burger.is-active {
  transition: 0.5s;
}

.burger.is-active .burger__line {
  transform: scale(0);
}

.burger.is-active:before {
  background-color: var(--theme-accent-main);
  transform: translateY(8px) rotateZ(45deg);
}

.burger.is-active:after {
  background-color: var(--theme-accent-main);
  transform: translateY(-8px) rotateZ(-45deg);
  top: 15px;
}

.title {
  font-size: 24px;
  line-height: 32px;
  font-weight: 700;
  text-align: center;
  color: var(--theme-accent-main);
}

@media (min-width: 1200px) {
  .title {
    font-size: 36px;
    line-height: 48px;
  }
}

.title--big {
  font-size: 36px;
  line-height: 48px;
  color: var(--theme-secondary-main);
}

@media (min-width: 1200px) {
  .title--big {
    font-size: 48px;
    line-height: 64px;
  }
}

.video {
  width: 100%;
  position: relative;
  padding-bottom: 56%;
  display: none;
}

.video.is-active {
  display: block;
}

.video__wrap {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.video__media {
  z-index: 15;
  min-width: 100%;
  min-height: 100%;
  border-width: 0;
  outline-width: 0;
}

.picture {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
}

.picture.is-active {
  display: block;
}

.picture__item {
  justify-content: center;
  height: 100%;
  display: flex;
}

.picture__img {
  object-fit: cover;
  width: 100%;
}

@media (min-width: 992px) {
  .button {
    position: static;
    padding: 0;
    width: unset;
  }
  .button__link {
    font-weight: 500;
    padding: 5px 17px;
    color: var(--theme-secondary-main);
    border: 1px solid var(--theme-accent-main);
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .header__content {
    top: 253px;
  }
  .header__play {
    transition: 0.5s;
  }
  .header__play:hover {
    transform: scale(1.1);
    filter: drop-shadow(3px 3px 4px var(--theme-primary-main));
  }
  .top {
    padding: 27px 0;
  }
  .logo__img {
    width: 146px;
  }
  .burger {
    display: none;
  }
  .nav {
    position: static;
    background: none;
    height: unset;
    width: unset;
  }
  .nav-list {
    display: flex;
  }
  .nav-list__item {
    margin-top: 0;
  }
  .nav-list__item:not(:last-child) {
    margin-right: 39px;
  }
  .nav-list__link {
    transition: 0.5s;
  }
  .nav-list__link:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--theme-accent-main);
    transform: scaleX(0);
    transition: transform 0.5s;
  }
  .nav-list__link:not(.current):hover {
    color: var(--theme-accent-main);
  }
  .nav-list__link:not(.current):hover:after {
    transform: scaleX(1);
  }
  .button__link {
    position: relative;
  }
  .button__link:before {
    background: var(--theme-accent-main);
    content: "";
    position: absolute;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
    transition: 0.5s;
  }
  .button__link:hover::before {
    width: 100%;
    height: 100%;
    opacity: 0.8;
  }
}

.scroll {
  display: none;
}

.scroll__img {
  fill: var(--theme-primary-main);
  transition: 0.5s;
}

.scroll.shown {
  display: block;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--theme-accent-main);
  border: 2px solid var(--theme-accent-main);
  box-shadow: 0 0 3px 1px var(--theme-primary-main);
  padding: 6px;
  opacity: 0.8;
  position: fixed;
  right: 3%;
  bottom: 2%;
  cursor: pointer;
  z-index: 100;
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .scroll.shown:hover {
    background-color: var(--theme-primary-main);
    opacity: 1;
  }
}

@media (min-width: 1200px) {
  .scroll.shown:hover .scroll__img {
    fill: var(--theme-accent-main);
  }
}

.timer {
  margin-bottom: 40px;
  text-align: center;
}

.countdown {
  display: grid;
  width: 305px;
  text-align: center;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  margin: 40px auto;
}

.countdown__time {
  font-size: 72px;
  line-height: 96px;
  font-weight: 700;
  color: var(--theme-secondary-main);
}

.countdown__text {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  color: var(--theme-secondary-main);
}

.page-btn__item {
  padding: 15px 25px;
  display: inline-block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  color: var(--theme-primary-main);
  background-color: var(--theme-accent-main);
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .page-btn__item:hover {
    border: 0px solid var(--theme-accent-main);
    box-shadow: 0 0 5px 2px inset var(--theme-accent-main);
    background: var(--theme-primary-main);
    color: var(--theme-accent-main);
    transition: 0.5s;
  }
}

@media (min-width: 768px) {
  .countdown {
    width: 653px;
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (min-width: 1200px) {
  .timer {
    margin-bottom: 120px;
  }
  .countdown {
    margin-bottom: 50px;
  }
}

/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}

.slick-list:focus {
  outline: none;
}

.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}

.slick-track:after {
  clear: both;
}

.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}

[dir="rtl"] .slick-slide {
  float: right;
}

.slick-slide img {
  display: block;
}

.slick-slide.slick-loading img {
  display: none;
}

.slick-slide.dragging img {
  pointer-events: none;
}

.slick-initialized .slick-slide {
  display: block;
}

.slick-loading .slick-slide {
  visibility: hidden;
}

.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

.lineup {
  margin-bottom: 95px;
}

@media (min-width: 411px) {
  .lineup {
    padding: 0 55px;
  }
}

@media (min-width: 1200px) {
  .lineup {
    padding: 0;
    margin: 0 -13px 120px -13px;
  }
}

.lineup__head {
  display: flex;
  margin-bottom: 30px;
  justify-content: center;
  align-items: center;
  position: relative;
}

.lineup__arrows {
  display: flex;
  position: absolute;
  right: 0;
  bottom: -426px;
}

@media (min-width: 586px) {
  .lineup__arrows {
    bottom: unset;
  }
}

@media (min-width: 1200px) {
  .lineup__arrows {
    right: 13px;
  }
}

.lineup__arrows .control {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  background-color: var(--theme-secondary-light);
  transition: 0.5s;
}

@media (min-width: 768px) {
  .lineup__arrows .control {
    width: 35px;
  }
}

@media (min-width: 1200px) {
  .lineup__arrows .control:hover {
    box-shadow: 2px 2px 3px 0 var(--theme-accent-main);
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.lineup__arrows .control:first-child {
  margin-right: 10px;
}

.lineup__arrows .control__img {
  display: block;
}

@media (min-width: 768px) {
  .lineup__arrows .control__img {
    width: 16px;
    height: 18px;
  }
}

.slider-lineup__item {
  text-align: center;
  position: relative;
  height: 100%;
  padding: 0 2px;
}

@media (min-width: 1200px) {
  .slider-lineup__item {
    padding: 0 13px;
  }
}

.slider-lineup__name {
  position: absolute;
  padding: 15px 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 62px;
  background-color: var(--theme-primary-light);
}

.slider-lineup__img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-lineup .slick-slide {
  width: 272px;
  height: 344px;
}

.slider-lineup .slick-slide div {
  height: 100%;
}

@media (min-width: 1200px) {
  .title--small {
    font-size: 24px;
    line-height: 32px;
  }
}

.sponsors {
  margin-bottom: 40px;
}

@media (min-width: 411px) {
  .sponsors {
    padding: 0 12px;
  }
}

@media (min-width: 1200px) {
  .sponsors {
    padding: 0;
    margin-bottom: 120px;
  }
}

.sponsors__title {
  margin-bottom: 25px;
}

@media (min-width: 411px) {
  .sponsors__title {
    margin-bottom: 30px;
  }
}

.slider-sponsors__item {
  width: 100%;
  height: 100%;
  background-color: var(--theme-secondary-main);
  margin: 0 2px;
}

.slider-sponsors__img {
  width: 112px;
  display: block;
  margin: 20px auto;
}

@media (min-width: 411px) {
  .slider-sponsors__img {
    width: unset;
    margin-top: 22px;
  }
}

.slider-sponsors .slick-track .slick-slide div {
  height: 65px;
  padding: 0 2px;
}

@media (min-width: 411px) {
  .slider-sponsors .slick-track .slick-slide div {
    padding: 0;
    width: 168px;
    height: 76px;
  }
}

@media (min-width: 1200px) {
  .slider-sponsors .slick-track .slick-slide div {
    width: 177px;
    height: 79px;
  }
}

.slider-sponsors .slick-dots {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.slider-sponsors .slick-dots li {
  list-style: none;
}

.slider-sponsors .slick-dots li button {
  transition: 0.5s;
  font-size: 0;
  width: 11px;
  height: 11px;
  border-radius: 50%;
  background-color: var(--theme-secondary-main);
}

@media (min-width: 1200px) {
  .slider-sponsors .slick-dots li:not(.slick-active) button:hover {
    box-shadow: 0 0 3px 3px var(--theme-accent-main);
  }
}

.slider-sponsors .slick-dots li:not(:last-child) button {
  margin-right: 15px;
}

.slider-sponsors .slick-dots li.slick-active button {
  background-color: var(--theme-accent-main);
}

.request {
  margin-bottom: 40px;
}

@media (min-width: 1200px) {
  .request {
    margin-bottom: 79px;
  }
}

.request__desc {
  margin: 10px auto 27px auto;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  font-family: "Roboto";
  color: var(--theme-secondary-main);
  width: 215px;
  text-align: center;
}

@media (min-width: 1200px) {
  .request__desc {
    margin: 44px 0 62px 0;
    font-size: 24px;
    line-height: 28px;
    width: unset;
    text-align: left;
  }
}

.form {
  position: relative;
}

@media (min-width: 768px) {
  .form {
    display: flex;
    justify-content: space-between;
  }
}

.form__btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

@media (min-width: 768px) {
  .form__btn {
    bottom: 41px;
  }
}

.form-request {
  margin-bottom: 10px;
  height: 51px;
}

@media (min-width: 768px) {
  .form-request {
    margin-bottom: 41px;
  }
}

.form-request div.error {
  color: var(--theme-accent-main);
  font-size: 12px;
  transform: translate(5px, -15px);
}

@media (min-width: 768px) {
  .form-request div.error {
    transform: none;
  }
}

.form-request--big {
  height: 235px;
}

.form-request__item {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  font-family: "Roboto";
  color: var(--theme-primary-main);
}

@media (min-width: 768px) {
  .form-request__item {
    width: 348px;
    font-size: 18px;
    line-height: 21px;
  }
}

@media (min-width: 992px) {
  .form-request__item {
    width: 450px;
  }
}

@media (min-width: 1200px) {
  .form-request__item {
    width: 546px;
  }
}

.form-request__item--big {
  padding-top: 15px;
}

.form-request__item.error {
  color: var(--theme-accent-err);
}

.page-btn__item--form {
  padding-left: 35px;
  padding-right: 35px;
}

.contacts {
  margin-bottom: 40px;
}

@media (min-width: 768px) {
  .contacts {
    display: grid;
    grid-template-areas: "a c" "b c";
    justify-content: space-between;
  }
}

@media (min-width: 1200px) {
  .contacts {
    margin-bottom: 120px;
  }
}

.contacts-item {
  margin-bottom: 35px;
}

.contacts-item:first-child {
  grid-area: a;
}

.contacts-item:nth-last-child(2) {
  margin-bottom: 50px;
  grid-area: b;
}

.contacts-item:last-child {
  grid-area: c;
}

@media (min-width: 768px) {
  .contacts-item:not(:first-child) {
    margin-bottom: 0;
  }
}

.contacts-item__name {
  display: block;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  color: var(--theme-secondary-main);
  margin-bottom: 5px;
}

@media (min-width: 1200px) {
  .contacts-item__name {
    font-size: 24px;
    line-height: 28px;
  }
}

.contacts-item__info {
  display: block;
  font-weight: 500;
  font-size: 18px;
  line-height: 21px;
  font-family: "Roboto";
  color: var(--theme-accent-main);
}

.form-subs {
  margin: 15px 0;
  position: relative;
}

.subs {
  width: 100%;
  height: 51px;
}

@media (min-width: 768px) {
  .subs {
    width: 439px;
  }
}

.subs__item {
  width: 100%;
  height: 100%;
  padding-left: 7px;
  font-weight: 400;
  font-size: 13px;
  line-height: 15px;
  font-family: "Roboto";
  color: var(--theme-primary-main);
}

.subs__item.error {
  color: var(--theme-accent-err);
}

@media (min-width: 768px) {
  .subs__item {
    font-size: 18px;
    line-height: 21px;
  }
}

.subs div.error {
  color: var(--theme-accent-main);
  font-size: 12px;
}

.subs-btn {
  position: absolute;
  right: 0;
  bottom: 0;
}

.social {
  display: flex;
}

.social__link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 43px;
  height: 43px;
  background-color: var(--theme-accent-main);
  transition: 0.5s;
}

.social__link:not(:last-child) {
  margin-right: 15px;
}

@media (min-width: 1200px) {
  .social__link:hover {
    box-shadow: 1px 1px 3px 1px var(--theme-accent-main);
    background: none;
    transition: 0.5s;
  }
}

@media (min-width: 1200px) {
  .social__link:hover .social__img {
    transition: 0.5s;
    fill: var(--theme-accent-main);
  }
}

.social__img {
  fill: var(--theme-primary-main);
  transition: 0.5s;
}

.page-btn__item--small {
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  background-color: var(--theme-accent-main);
}

.footer__element {
  text-align: center;
  margin-bottom: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (min-width: 992px) {
  .footer__element {
    margin-bottom: 0;
  }
}

.footer__link {
  display: block;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
  color: var(--theme-primary-main);
  transition: 0.5s;
}

@media (min-width: 1200px) {
  .footer__link:hover {
    border-bottom: 1px solid var(--theme-primary-main);
    opacity: 0.7;
    transition: 0.5s;
  }
}

.footer__item {
  margin: 0 5px;
  color: var(--theme-primary-main);
}

.footer__text {
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  font-family: "Roboto";
  color: var(--theme-secondary-main);
}

.footer-wrap {
  padding: 15px 39px 20px 39px;
}

@media (min-width: 992px) {
  .footer-wrap {
    padding-left: 20px;
    padding-right: 45px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}
